@{
    Layout = "_LayoutKiosk";
}



<div class="container overflow-hidden  p-3">
    <div class="row">
        <div class="col ">
            <div class="col-12 p-3 border border-2 panel_border border-secondary">
                <h4 class="text-center mb-3">Q-LESS Transport Card</h4>
                <div class="container px-4 mb-3">
                    <div class="row gx-5">
                        <div class="col">
                            <a class="btn btn-warning btn-lg" asp-area="Identity" asp-page="/CardTransactions/CardTransaction">
                                <i class="fa fa-cart-plus"></i>
                                Purchase Card
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn button_theme_orange btn-lg" asp-area="Identity" asp-page="/CardTransactions/AddValueCardTransaction" >
                                <i class="fa fa-circle-plus"></i>
                                Add Cash Value
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-12 p-3 border border-2 panel_border border-secondary">
                <h4 class="text-center mb-3">Q-LESS Discounted Transport Card</h4>
                <div class="container px-4 mb-3">
                    <div class="row gx-5">
                        <div class="col">
                            <a class="btn btn-warning btn-lg" asp-area="Identity" asp-page="/DiscountCardTransactions/DiscountCardTransaction">
                                <i class="fa fa-cart-plus"></i>
                                Purchase Card
                            </a>
                        </div>
                        <div class="col">
                            <a class="btn button_theme_orange btn-lg" asp-controller="KioskDashboard" asp-action="CreateAccount">
                                <i class="fa fa-circle-plus"></i>
                                Add Cash Value
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


