@model Common.Models.TransportCardTrip

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TransportCardTrip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TransportCardTripID" class="control-label"></label>
                <input asp-for="TransportCardTripID" class="form-control" />
                <span asp-validation-for="TransportCardTripID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportCardTripDate" class="control-label"></label>
                <input asp-for="TransportCardTripDate" class="form-control" />
                <span asp-validation-for="TransportCardTripDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountTripCharge" class="control-label"></label>
                <input asp-for="AmountTripCharge" class="form-control" />
                <span asp-validation-for="AmountTripCharge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportCardTripOperatorCode" class="control-label"></label>
                <input asp-for="TransportCardTripOperatorCode" class="form-control" />
                <span asp-validation-for="TransportCardTripOperatorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginStationCode" class="control-label"></label>
                <input asp-for="OriginStationCode" class="form-control" />
                <span asp-validation-for="OriginStationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinationStationCode" class="control-label"></label>
                <input asp-for="DestinationStationCode" class="form-control" />
                <span asp-validation-for="DestinationStationCode" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasGateIN" /> @Html.DisplayNameFor(model => model.HasGateIN)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasGateOUT" /> @Html.DisplayNameFor(model => model.HasGateOUT)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="RowVersion" class="control-label"></label>
                <input asp-for="RowVersion" class="form-control" />
                <span asp-validation-for="RowVersion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
